.title {
    font-family: 'Alata', sans-serif;

}

.title1{
    font-family: 'Noto Sans', sans-serif;
}

.title2 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.title3{
    font-family: 'Dancing Script', cursive;
}

.title4 {
    font-family: 'Architects Daughter', cursive;
}

.title5 {
    font-family: 'Pacifico', cursive;
}