h1 {
    text-align: center;
}
h2 {
    background-color: gray;
    color: red;
}
h3{
    color: purple;
    background-color: rgb(155, 151, 151) ;
}
p{
    background-color: rgb(209, 206, 206);
}

.blue-text {
    color: blue;
    text-decoration: underline;
}

.green-text {
    color: rgb(17, 146, 17);
    text-decoration: underline;
}