.cont {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.caja {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja1 {
    border: 2px solid red;
}
.caja2 {
    border: 2px solid rgb(0, 153, 255);
}
.caja3 {
    border: 2px solid rgb(255, 0, 221);
}
.caja4 {
    border: 2px solid rgb(255, 251, 0);
    align-self: flex-start;     /* el último elemento se va a alinear */
}